__pycache__/modelling.cpython-311.pyc
__pycache__/app.cpython-311.pyc
__pycache__/pose_detection.cpython-311.pyc
__pycache__/processing.cpython-311.pyc
models/embedding_classification.h5
models/embedding_xception_no_pooling.h5